#Altium Library histories
**/History
*_loc
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.TLT
*.log
*.htm
*.$$$

# Files related to compliled pachaging code
*.json
*.pyc

# Test Folder outputs
test*folder*(02190A)/705-02190A0
test*folder*(02190A)/710-02191A0PD
test*folder*(02190A)/rA0_A0
*.step